@import 'register.scss';

.form-header {
  color: white;
  font: 500 15px/22px museo-sans, sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 20px;
}

#scrn-p {
  max-width: 400px;
}