@import "course-area-detail.scss";

p.normal.light a {
  color: #6c6e6f;
}

.image-container {
  position: relative;
}

.image-container .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.research-image {
  margin-bottom: 30px;
}

.research-image-text {
  display: block;
  margin: 50px 35px;
  font-size: 25pt;
  line-height: 1.2em;
  font-family: museo, serif;
  color: #fff;

  @media (max-width: 500px) {
    font-size: 22pt;
    margin: 30px 30px;
  }
}

.heading {
  @media screen and (max-width: 999px) {
    background-image: none !important;
  }
}

@media screen and (min-width: 1000px) {
  .section-image {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .content-container {
    padding: 130px 0 124px !important;
  }
  .section-image {
    margin-top: -80px;
    margin-bottom: 20px;
  }
}

.section-image + .section {
  margin-top: 0;
}